@import 'variables', 'mixins', 'normalize', 'parts/bootstrap';
@import 'parts/header', 'parts/menu', 'parts/selectik', 'parts/select-box',
'parts/owl-carousel', 'parts/popular', 'parts/tabs-box', 'parts/footer',
'parts/category', 'parts/action', 'parts/news', 'parts/contacts',
'parts/carts', 'parts/text-page', 'parts/bascet', 'parts/right-panel',
'parts/personal-data', 'parts/modal';
html {
  &:before {
    content: "#{inspect($breakpoints)}";
    display: none;
  }
}
.clearfix {
  @each $pseudo in after before {
    &:#{$pseudo} {
      content: '';
      display: table;
    }
  }

  &:after {
    clear: both;
  }
}
.wrapper {
  margin: auto;
}
img {
  max-width: 100%;
}
a,
a:visited,
a:link,
a:hover {
  outline: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
body {
  font-family: 'Lato';
  font-size: 16px;
  // line-height: 1.72em;
  color: #303030;
}

.layer {
  h1 {
    @include breakpoint((to: 992px)) {
      font-size: 25px;
    }
    @include breakpoint((to: 768px)) {
      font-size: 18px;
    }
  }
}
.button-gray {
  background-color: #ddd;
  border-color: #ddd;
  transition: .15s;
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
  color: #000;
  &:hover {
    background-color: #88be35;
    border-color: #88be35;
    color: #fff;
  }
}
h1, .h1 {
  font-size: 30px;
  font-family: 'LatoBlack',sans-serif;
  color: #0c141c;
  text-transform: uppercase;
}
@include font-face(lato, LatoRegular);
// @include font-face(lato, LatoBold);
// @include font-face(lato, LatoBoldItalic);
// @include font-face(lato, LatoItalic);
// @include font-face(lato, LatoLight);


