.tab-box {
  padding: 0 30px;
  .main-title,
  .title-h3 {
    margin-bottom: 40px;
    margin-top: 40px;
    color: #0c141c;
    text-transform: uppercase;
  }
  .main-title {
    font-size: 30px;
  }
  .title-h3 {
    font-size: 26px;
  }
  @include breakpoint((to: 768px)) {
    .title-h3,
    .main-title {
      font-size: 20px;
    }
  }
  @include breakpoint((to: 500px)) {
    padding: 0 10px;
    .title-h3,
    .main-title {
      font-size: 15px;
    }
  }
}
.hide-tab {
  display: none;
  padding: 0 20px 20px;
  p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.72em;
    color: #303030;
    a {
      font-size: inherit;
      color: #337ab7;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #23527c;
      }
    }
  }
  @include breakpoint((to: 768px)) {
    p {
      font-size: 12px;
    }
  }
}
.accordeon {
  border: 1px solid #e7e7e7;
  .trigger {
    display: block;
    padding: 20px 60px 20px 75px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
      &.active {
        &:before {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    &:before {
      -webkit-transition: transform .2s;
      -moz-transition: transform .2s;
      -ms-transition: transform .2s;
      -o-transition: transform .2s;
      transition: transform .2s;
      content: '';
      display: block;
      right: 20px;
      top: 20px;
      position: absolute;
      width: 40px;
      height: 20px;
      background-image: url(../images/ar.png);
    }
  }
  li {
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    z-index: 1;
    &:last-child {
      border-bottom: 0;
    }
    .num-tab {
      position: absolute;
      left: 20px;
      top: 10px;
      display: block;
      font-style: italic;
      font-family: Georgia,"GeorgiaItalic",Times,sans-serif;
      font-size: 40px;
      color: #84c225;
    }
  }
  @include breakpoint((to: 992px)) {
    .trigger {
      font-size: 16px;
    }
  }
  @include breakpoint((to: 768px))  {
    .trigger {
      padding-left: 20px;
      font-size: 14px;
    }
    li {
      .num-tab {
        display: none;
      }
    }
  }
  @include breakpoint((to: 500px)) {
    .trigger {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

